.table {
    width: 100%;
    font-size: 0.9rem;
  }
  
  .table th {
    text-align: center;
    font-weight: bold;
  }
  
  .table td {
    text-align: center;
  }
  
  button {
    margin-right: 5px;
  }
  