<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/productos" routerLinkActive="active">
        <mat-icon>inventory</mat-icon> Productos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ingresos" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon> Ingresos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/salidas" routerLinkActive="active">
        <mat-icon>exit_to_app</mat-icon> Salidas
      </a>
    </li>
  </ul>
</div>

